@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  --font-family: 'Poppins', sans-serif;
  --font-size-h1: "32px";
  --font-size-h2: "24px";
  --font-size-h3: "20px";
  --font-size-h4: "16px";
  --font-size-h5: "14px";
  --font-size-h6: "12px";
  --primary-color: #226d6dbf;
  --primary-color--hover: #1e5959d0;
  --secondary-color: #fff;
}

/* @layer base{
  html{
    font-family: 'Poppins', sans-serif;
  }
} */
.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.fs-h1 {
  font-size: var(--font-size-h1);
}

.fs-h2 {
  font-size: var(--font-size-h2);
}

.fs-h3 {
  font-size: var(--font-size-h3);
}

.fs-h4 {
  font-size: var(--font-size-h5);
}

.fs-h5 {
  font-size: var(--font-size-h5);
}

.fs-h6 {
  font-size: var(--font-size-h6);
}

.btn {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  height: 45px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  text-align: center;
  padding: 6px;
}

.btn-close {
  color: white;
  background-color: #8a878f;
  height: 45px;
  text-align: center;
  border: 1px solid #8a878f;
  border-radius: 10px;
  padding: 6px;
}

.btn-close:hover {
  background-color: #8a878fd9;
}

.btn-background-color {
  background-color: var(--primary-color);
}

.btn-disable-background-color {
  background-color: #8a878f8e;
  cursor: not-allowed;
  color: #999;
  border: 1px solid #8a878f8e !important;
}

.input-border {
  border: 1px solid var(--primary-color);
  outline: #226d6d8c;
}

.btn-background-color:hover {
  background-color: var(--primary-color--hover);
}

.btn:hover {
  background-color: var(--primary-color--hover);
}

.text-color {
  color: var(--primary-color);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  /* overflow-Y: hidden; */
  background-color: #E5E7EB !important;
  font-family: var(--font-family) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-transition {
  transition: width 3s ease;
  /* You can adjust the transition properties */
}

.react-tabs {
  position: relative;
  overflow: hidden;
}

.react-tabs .react-tabs__tab-list {
  transition: transform 0.3s ease-in-out;
}

.react-tabs .react-tabs__tab {
  padding: 4px 10px;
  cursor: pointer;
}

.react-tabs .react-tabs__tab--selected {
  color: var(--primary-color);
}

.react-tabs .react-tabs__tab-panel {
  display: none;
}

.react-tabs .react-tabs__tab-panel.react-tabs__tab-panel--selected {
  display: block;
  transition: opacity 0.3s ease-in-out;
}

.ant-menu-item {
  color: var(--primary-color) !important;
}

.ant-menu-item-selected {
  color: var(--primary-color) !important;
  background-color: #ace1e180 !important;
}

.ant-menu-submenu-title {
  color: var(--primary-color) !important;

}

.ant-menu-submenu-selected {
  color: var(--primary-color) !important;
  background-color: #ace1e180 !important;
}

.alert {
  color: red;
  font-size: small;
  font-family: var(--font-family) !important;
}

.MuiButton-root {
  background-color: var(--primary-color) !important;
  margin: 0px 0px 10px 17px !important;
  font-family: var(--font-family) !important;
}

.ant-avatar {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.anticon-logout {
  color: var(--primary-color);
}

.MuiMenuItem-root {
  height: 25px !important;
}